---
# layout: compress
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    <h1 class="post-headline">{{site.title}}</h1>
    <h3 class="post-description">{{site.description}}</h3>

    {% include favicon.html %}

    {% include mathjax.html %}



    <script
        type="text/javascript"> (function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<body>
    <main>
        <article>
                <!-- <ul> -->
                <div style="column-count: 2;">
                    {% for offer in site.data.amazonlinks %}
                    <div>

                        <!-- <li> -->
                        <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
                            style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                            frameborder="0" src="{{offer.link}}"></iframe>
                    </div>
                    <!-- </li> -->
                    {% endfor %}
                </div>
            </div>
        </article>
    </main>

    <footer>
        <p class="copy">
            <small> &copy; {{site.title}} {{ site.time | date: '%Y' }}
            </small>
        </p>

        {% include social-footer.html %}

    </footer>
</body>

</html>